{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '/portal/assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static '/portal/assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static '/portal/assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<link href="{% static '/css/my.css' %}" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script>
    $(window).load(function() {
	$(".se-pre-con").fadeOut(1000);;
    });
</script>
</head>

<body>
<!-- header -->
<div class="se-pre-con"></div>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "portal" %}">My Portal</a>
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> &nbsp; <a href="{% url "logout" %}" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/{{ user.img.url }}" class="user-image img-responsive"/>
					</li>


                    <li>
                        <a href="{% url "portal" %}"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url "uploadphoto" %}"><i class="fa fa-upload fa-3x"></i> Upload Photo </a>
                    </li>
                    <li>
                        <a href="{% url "eduandwork" %}"><i class="fa fa-briefcase fa-3x"></i> Education And Work </a>
                    </li>
                    <li  >
                        <a  href="{% url "teaching" %}"><span><i class="fa fa-edit fa-3x"></i></span> <span> Teaching</span> </a>
                    </li>
                     <li>
                         <a  href="{% url "students" %}"><i class="fa fa-users fa-3x"></i> Students </a>
                    </li>
                    <li>
                        <a  href="{% url "projects" %}"><i class="fa fa-tasks fa-3x"></i> Projects</a>
                    </li>
						   <li  >
                        <a   href="{% url "publications" %}"><i class="fa fa-book fa-3x"></i> Publications</a>
                    </li>
                    <li  >
                        <a  class="active-menu"  href="{% url "researchinterests" %}"><i class="fa fa-sitemap fa-3x"></i> Research Interests</a>
                    </li>
                      <li  >
                        <a  href="{% url "recognitions" %}"><i class="fa fa-trophy fa-3x"></i> Recognitions</a>
                    </li>
                    <li  >
                        <a  href="{% url "portal" %}"><i class="fa fa-question fa-3x"></i> Others </a>
                    </li>
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    <h2> {{ user.name }}'s Dashboard</h2>
                    <h3>{{ user.name }}</h3>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Research Interests
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                <form method="post" id="interest" action="/ssl_main/addinterest/">{% csrf_token %}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Research Interest topic</label>
                                        <input name="interest" class="form-control" autofocus required />
                                    </div>
                                </div>
                               </form>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" form="interest" class="btn btn-primary">Add This Topic</button>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                <div class="table-responsive">
                                <table class="table table-striped table-hover" style="overflow: hidden">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Topic</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        {% for i in user.researchinterests_set.all %}
                                            <form id="deleteform{{i.id}}" method="post" action="/ssl_main/deleteint/" onsubmit="return confirm('Do you really want to delete the row?');">{% csrf_token %}
                                                    <input type="number" name="deleteid" style="visibility: collapse" value="{{ i.id }}" />
                                            <tr>

                                                <td style="width: 10%;overflow: hidden">{{ forloop.counter }}</td>
                                                <td style="overflow: hidden; word-break: break-all">{{ i.research_interests }}</td>

                                                <td style="width: 10%">

                                                        <button type="submit" form="deleteform{{i.id}}" name= {{ forloop.counter }}>
                                                        <span class="glyphicon glyphicon-trash" style="color: red"></span>
                                                        </button>
                                                </td>

                                            </tr>
                                            </form>
                                        {% endfor %}

                                        </tbody>
                                </table>
                            </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- /. ROW  -->

    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static '/portal/assets/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static '/portal/assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static '/portal/assets/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static '/portal/assets/js/custom.js' %}"></script>
    
   
</body>
</html>
