<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Indian Institute of Technology, Guwahati</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Brilliance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
{% load static %}
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'main_site/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'main_site/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'main_site/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- pop-up-box -->
<link href="{% static 'main_site/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up-box -->
<!-- font-awesome icons -->
<link href="{% static 'main_site/css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Prata" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
  <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'login/css/bootstrap.css' %}">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
  <script type="text/javascript">
    var CaptchaCallback = function() {
        grecaptcha.render('RecaptchaField1', {'sitekey' : '6Le_gjgUAAAAAGZFt6xv2v1hcXfqFq4uOSnkKY7F'});
        grecaptcha.render('RecaptchaField2', {'sitekey' : '6Le_gjgUAAAAAGZFt6xv2v1hcXfqFq4uOSnkKY7F'});
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
<link href="{% static '/css/my.css' %}" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script>
    $(window).load(function() {
	$(".se-pre-con").fadeOut(2000);;
    });
</script>
</head>

<body>
<!-- header -->
<div class="se-pre-con"></div>

	<div class="header-w3ls-agileinfo">

			<div style="background-color: blue"  class="wthree_agile_top_header">
              <div class="col-sm-2">
                <img class="profile-image img-responsive pull-left" src="{% static 'login/img/iitg.png' %}" alt="James Lee" style="height:120px"/>
            </div>
				<div class="logo-agileits">
					<h1 style="color: white;"><a style="color: white;" href="{% url "main" %}">IIT,Guwahati</a></h1>
                  <h2 style="color: white;">Faculty Web Managment System</h2>
				</div>

				<div class="clearfix"> </div>
			</div>

	</div>
<!-- //header -->

	<!-- services -->
	<div class="services" id="departments">
		<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
      <form action="/ssl_main/signin/" method="post" id="form1" enctype="multipart/form-data">
          {% csrf_token %}
         <label>
          <span>Webmail</span>
          <input type="text" name="webmail" required/>
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password" required/>
        </label>
        <div style="margin-left: 110px">
          <div style="position: inherit" class="form" id="RecaptchaField1"></div>
        </div>

      </form>
      
    <button type="submit" form="form1" class="submit">Sign In</button>
  </div>
  <div class="sub-cont">
    <div class="img" style="background-image: {% static 'login/img/iitg.png' %}">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and manage your webpage!</p>
      </div>
      <div class="img__text m--in">
        <h2>Have an account?</h2>
        <p>If you already have an account, just sign in.</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div>
    <div class="form sign-up">
      <h2>Enter Your Details</h2>

      <form action="/ssl_main/signup/" id="form2" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label>
          <span>Name</span>
          <input type="text" name="name" required />
        </label>
        <label>
          <span>Webmail (without @iitg.ernet.in)</span>
          <input type="text" name="webmail" required />
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="pass" id="passwd"  required />
        </label>
        <label>
          <span>Confirm Password</span>
          <input type="password" name="cpasswd" data-match="#passwd" required />
        </label>
        <div style="margin-left: 110px">
           <div class="form sign-up" id="RecaptchaField2"></div>
        </div>

      </form>
      <button type="submit" form="form2" class="submit">Sign Up</button>

    </div>
    </div>
  </div>
</div>

	</div>
	<!-- //services -->
<div class="row">
	<p class="forgot-pass"><a href="{% url "forgotpass" %}">Forgot password?</p></p>
</div>

<!-- Footer -->
<div class="footer w3ls" style="margin-top: 0px">
	<div class="container">
		<div class="footer-main">
			<div class="footer-top">
				<div class="col-md-6 ftr-grid fg1">
					<h3><a href="{% url "main" %}"><span>I</span>ndian Institute of Technology, Guwahati</a></h3>
					<p></p>
				</div>
				<div class="col-md-6 ftr-grid fg2 mid-gd">
					<h3>Our Address</h3>
					<div class="ftr-address">
						<div class="local">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="ftr-text">
							<p>Guwhati, North Guwahati-781039</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="ftr-address">
						<div class="local">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="ftr-text">
							<p>+1 (512) 154 8176</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="ftr-address">
						<div class="local">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="ftr-text">
							<p><a href="{% url "main" %}">iitg@iitg.com</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>

			   <div class="clearfix"> </div>
			</div>
			<div class="copyrights">
				<p>&copy; Developed By: Mitansh Jain, Sujoy Ghosh, Shubhendu Patidar</p>
			</div>
		</div>
	</div>

</div>



<!-- Footer -->

	<!-- start-smoth-scrolling -->

<!-- js -->
		<!--//pop-up-box -->
<script type="text/javascript" src="{% static 'main_site/js/jquery-2.1.4.min.js' %}"></script>
<!--pop-up-box -->
					<script src="{% static 'main_site/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
					<script>
					$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
					});

					});
					</script>
<!-- //pop-up-box -->

<!-- //js -->
<script type="text/javascript" src="{% static 'main_site/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'main_site/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

			<script src="{% static 'main_site/js/jzBox.js' %}"></script>

			<!-- Countdown-Timer-JavaScript -->
			<script src="{% static 'main_site/js/simplyCountdown.js' %}"></script>
			<script>
				var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

				// default example
				simplyCountdown('.simply-countdown-one', {
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate()
				});

				// inline example
				simplyCountdown('.simply-countdown-inline', {
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate(),
					inline: true
				});

				//jQuery example
				$('#simply-countdown-losange').simplyCountdown({
					year: d.getFullYear(),
					month: d.getMonth() + 1,
					day: d.getDate(),
					enableUtc: false
				});
			</script>
		<!-- //Countdown-Timer-JavaScript -->

<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="{% static 'main_site/js/bootstrap.js' %}"></script>
 <script  src="{% static 'login/js/index.js' %}"></script>
</body>
</html>